NET "data_i_A[7]" LOC = F24;
NET "data_i_A[6]" LOC = F25;
NET "data_i_A[5]" LOC = E25;
NET "data_i_A[4]" LOC = E26;
NET "data_i_A[3]" LOC = G21;
NET "data_i_A[2]" LOC = G22;
NET "data_i_A[1]" LOC = P19;
NET "data_i_A[0]" LOC = N19;
NET "data_i_B[7]" LOC = J25;
NET "data_i_B[6]" LOC = J26;
NET "data_i_B[5]" LOC = R22;
NET "data_i_B[4]" LOC = R23;
NET "data_i_B[3]" LOC = N22;
NET "data_i_B[2]" LOC = N21;
NET "data_i_B[1]" LOC = V26;
NET "data_i_B[0]" LOC = U26;
NET "freq[15]" LOC = K23;
NET "freq[14]" LOC = K22;
NET "freq[13]" LOC = G26;
NET "freq[12]" LOC = H26;
NET "freq[11]" LOC = L20;
NET "freq[10]" LOC = L19;
NET "freq[9]" LOC = P23;
NET "freq[8]" LOC = N23;
NET "freq[7]" LOC = G24;
NET "freq[6]" LOC = G25;
NET "freq[5]" LOC = M20;
NET "freq[4]" LOC = M19;
NET "freq[3]" LOC = H24;
NET "freq[2]" LOC = J24;
NET "freq[1]" LOC = P21;
NET "freq[0]" LOC = P20;
NET "mem_dat[7]" LOC = J20;
NET "mem_dat[6]" LOC = J23;
NET "mem_dat[5]" LOC = J21;
NET "mem_dat[4]" LOC = H23;
NET "mem_dat[3]" LOC = M22;
NET "mem_dat[2]" LOC = K20;
NET "mem_dat[1]" LOC = K21;
NET "mem_dat[0]" LOC = M21;
NET "mem_addr[18]" LOC = L25;
NET "mem_addr[17]" LOC = L24;
NET "mem_addr[16]" LOC = K26;
NET "mem_addr[15]" LOC = K25;
NET "mem_addr[14]" LOC = M26;
NET "mem_addr[13]" LOC = M25;
NET "mem_addr[12]" LOC = N24;
NET "mem_addr[11]" LOC = M24;
NET "mem_addr[10]" LOC = AB25;
NET "mem_addr[9]" LOC = N26;
NET "mem_addr[8]" LOC = P25;
NET "mem_addr[7]" LOC = P24;
NET "mem_addr[6]" LOC = T24;
NET "mem_addr[5]" LOC = T25;
NET "mem_addr[4]" LOC = U24;
NET "mem_addr[3]" LOC = U25;
NET "mem_addr[2]" LOC = W25;
NET "mem_addr[1]" LOC = W26;
NET "mem_addr[0]" LOC = Y25;
NET "eeprom_sel[1]" LOC = Y26;
NET "eeprom_sel[0]" LOC = P26;
NET "rst" LOC = B21;
NET "EOC_A" LOC = E13;
NET "EOC_B" LOC = D14;
NET "convst_A" LOC = E12;
NET "convst_B" LOC = F12;
NET "controller_sel" LOC = U4;
NET "Current_Command" LOC = T7;
NET "VaHigh" LOC = Y8;
NET "VaLow" LOC = A22;
NET "VbHigh" LOC = T22;
NET "VbLow" LOC = AA18;
NET "VcHigh" LOC = C21;
NET "VcLow" LOC = AA8;
NET "quadA" LOC = AC26;
NET "quadB" LOC = AB26;
NET "clk_i" LOC = AD8;
INST "RECONFIG_PART" AREA_GROUP = "pblock_RECONFIG_PART";
AREA_GROUP "pblock_RECONFIG_PART" RANGE=SLICE_X8Y0:SLICE_X15Y89;
AREA_GROUP "pblock_RECONFIG_PART" RANGE=DSP48_X0Y0:DSP48_X0Y35;
AREA_GROUP "pblock_RECONFIG_PART" RANGE=RAMB36_X0Y0:RAMB36_X0Y17;
TIMESPEC TS_clk_i = PERIOD "clk_i" 100 MHz INPUT_JITTER 5 ps;
NET "clk_i" TNM_NET = "clk_i";
NET "EOC_A" CLOCK_DEDICATED_ROUTE = FALSE;
NET "EOC_B" CLOCK_DEDICATED_ROUTE = FALSE;
