//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 28 20:00:04 2017
//! **************************************************************************

SCHEMATIC START;
COMP "clk_i" LOCATE = SITE "AD8" LEVEL 1;
COMP "freq[0]" LOCATE = SITE "P20" LEVEL 1;
COMP "freq[1]" LOCATE = SITE "P21" LEVEL 1;
COMP "freq[2]" LOCATE = SITE "J24" LEVEL 1;
COMP "freq[3]" LOCATE = SITE "H24" LEVEL 1;
COMP "freq[4]" LOCATE = SITE "M19" LEVEL 1;
COMP "freq[5]" LOCATE = SITE "M20" LEVEL 1;
COMP "freq[6]" LOCATE = SITE "G25" LEVEL 1;
COMP "freq[7]" LOCATE = SITE "G24" LEVEL 1;
COMP "freq[8]" LOCATE = SITE "N23" LEVEL 1;
COMP "freq[9]" LOCATE = SITE "P23" LEVEL 1;
COMP "eeprom_sel[0]" LOCATE = SITE "P26" LEVEL 1;
COMP "eeprom_sel[1]" LOCATE = SITE "Y26" LEVEL 1;
COMP "freq[10]" LOCATE = SITE "L19" LEVEL 1;
COMP "freq[11]" LOCATE = SITE "L20" LEVEL 1;
COMP "freq[12]" LOCATE = SITE "H26" LEVEL 1;
COMP "freq[13]" LOCATE = SITE "G26" LEVEL 1;
COMP "freq[14]" LOCATE = SITE "K22" LEVEL 1;
COMP "freq[15]" LOCATE = SITE "K23" LEVEL 1;
COMP "quadA" LOCATE = SITE "AC26" LEVEL 1;
COMP "quadB" LOCATE = SITE "AB26" LEVEL 1;
COMP "data_i_A[0]" LOCATE = SITE "N19" LEVEL 1;
COMP "data_i_A[1]" LOCATE = SITE "P19" LEVEL 1;
COMP "data_i_A[2]" LOCATE = SITE "G22" LEVEL 1;
COMP "data_i_A[3]" LOCATE = SITE "G21" LEVEL 1;
COMP "data_i_B[0]" LOCATE = SITE "U26" LEVEL 1;
COMP "data_i_A[4]" LOCATE = SITE "E26" LEVEL 1;
COMP "data_i_B[1]" LOCATE = SITE "V26" LEVEL 1;
COMP "data_i_A[5]" LOCATE = SITE "E25" LEVEL 1;
COMP "data_i_B[2]" LOCATE = SITE "N21" LEVEL 1;
COMP "data_i_A[6]" LOCATE = SITE "F25" LEVEL 1;
COMP "data_i_B[3]" LOCATE = SITE "N22" LEVEL 1;
COMP "data_i_A[7]" LOCATE = SITE "F24" LEVEL 1;
COMP "data_i_B[4]" LOCATE = SITE "R23" LEVEL 1;
COMP "data_i_B[5]" LOCATE = SITE "R22" LEVEL 1;
COMP "data_i_B[6]" LOCATE = SITE "J26" LEVEL 1;
COMP "data_i_B[7]" LOCATE = SITE "J25" LEVEL 1;
COMP "controller_sel" LOCATE = SITE "U4" LEVEL 1;
COMP "VaHigh" LOCATE = SITE "Y8" LEVEL 1;
COMP "VbHigh" LOCATE = SITE "T22" LEVEL 1;
COMP "convst_A" LOCATE = SITE "E12" LEVEL 1;
COMP "convst_B" LOCATE = SITE "F12" LEVEL 1;
COMP "VcHigh" LOCATE = SITE "C21" LEVEL 1;
COMP "VaLow" LOCATE = SITE "A22" LEVEL 1;
COMP "VbLow" LOCATE = SITE "AA18" LEVEL 1;
COMP "VcLow" LOCATE = SITE "AA8" LEVEL 1;
COMP "rst" LOCATE = SITE "B21" LEVEL 1;
PIN EOC_A_BUFGP/EOC_A_pin<0> = BEL "EOC_A_BUFGP/EOC_A" PINNAME PAD;
PIN "EOC_A_BUFGP/EOC_A_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EOC_A" LOCATE = SITE "E13" LEVEL 1;
COMP "mem_addr[10]" LOCATE = SITE "AB25" LEVEL 1;
COMP "Current_Command" LOCATE = SITE "T7" LEVEL 1;
COMP "mem_addr[11]" LOCATE = SITE "M24" LEVEL 1;
COMP "mem_addr[12]" LOCATE = SITE "N24" LEVEL 1;
COMP "mem_addr[13]" LOCATE = SITE "M25" LEVEL 1;
COMP "mem_addr[14]" LOCATE = SITE "M26" LEVEL 1;
COMP "mem_addr[15]" LOCATE = SITE "K25" LEVEL 1;
COMP "mem_addr[16]" LOCATE = SITE "K26" LEVEL 1;
PIN EOC_B_BUFGP/EOC_B_pin<0> = BEL "EOC_B_BUFGP/EOC_B" PINNAME PAD;
PIN "EOC_B_BUFGP/EOC_B_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EOC_B" LOCATE = SITE "D14" LEVEL 1;
COMP "mem_addr[17]" LOCATE = SITE "L24" LEVEL 1;
COMP "mem_addr[18]" LOCATE = SITE "L25" LEVEL 1;
COMP "mem_addr[0]" LOCATE = SITE "Y25" LEVEL 1;
COMP "mem_addr[1]" LOCATE = SITE "W26" LEVEL 1;
COMP "mem_addr[2]" LOCATE = SITE "W25" LEVEL 1;
COMP "mem_addr[3]" LOCATE = SITE "U25" LEVEL 1;
COMP "mem_addr[4]" LOCATE = SITE "U24" LEVEL 1;
COMP "mem_addr[5]" LOCATE = SITE "T25" LEVEL 1;
COMP "mem_addr[6]" LOCATE = SITE "T24" LEVEL 1;
COMP "mem_addr[7]" LOCATE = SITE "P24" LEVEL 1;
COMP "mem_addr[8]" LOCATE = SITE "P25" LEVEL 1;
COMP "mem_addr[9]" LOCATE = SITE "N26" LEVEL 1;
COMP "mem_dat[0]" LOCATE = SITE "M21" LEVEL 1;
COMP "mem_dat[1]" LOCATE = SITE "K21" LEVEL 1;
COMP "mem_dat[2]" LOCATE = SITE "K20" LEVEL 1;
COMP "mem_dat[3]" LOCATE = SITE "M22" LEVEL 1;
COMP "mem_dat[4]" LOCATE = SITE "H23" LEVEL 1;
COMP "mem_dat[5]" LOCATE = SITE "J21" LEVEL 1;
COMP "mem_dat[6]" LOCATE = SITE "J23" LEVEL 1;
COMP "mem_dat[7]" LOCATE = SITE "J20" LEVEL 1;
COMPGRP pblock_RECONFIG_PART.SLICE = COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Max_stage1_1_val_cmp_ge0000_cy[7]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Max_stage1_1_val_cmp_ge0000_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mcompar_Saturate_out1_cmp_lt0000_cy[6]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage2_val_cmp_le0000"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val_cmp_ge0000"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage1_1_val_cmp_ge0000"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Min_stage1_1_val_cmp_le0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_lt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_lt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Min_stage2_val_cmp_le0000_cy[7]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Max_stage2_val_cmp_ge0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val_cmp_le0000"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Min_stage2_val_cmp_le0000_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mcompar_Saturate_out1_cmp_gt0000_cy[6]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mcompar_Saturate_out1_cmp_gt0000_cy[6]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Min_stage2_val_cmp_le0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Min_stage1_1_val_cmp_le0000_cy[7]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mcompar_Saturate_out1_cmp_gt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mcompar_Saturate_out1_cmp_gt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Min_stage1_1_val_cmp_le0000_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_gt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_gt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Max_stage2_val_cmp_ge0000_cy[7]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Max_stage2_val_cmp_ge0000_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_lt0000_cy[4]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_lt0000_cy[4]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_div_temp_0_addsub0000_Madd_cy[26]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_div_temp_0_addsub0000_Madd_cy[30]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p75mA_out1_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p75mA_out1_cy[7]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p75mA_out1_cy[11]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p75mA_out1_cy[15]"
        COMP "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/p75mA_out1[16]"
        COMP "RECONFIG_PART/Delay_6_out1[2]" COMP
        "RECONFIG_PART/Delay_6_out1[6]" COMP "RECONFIG_PART/Delay_6_out1[10]"
        COMP "RECONFIG_PART/Delay_6_out1[14]" COMP
        "RECONFIG_PART/Delay_6_out1[15]" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add1_sub_temp_cy[5]" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add1_sub_temp_cy[9]" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add1_sub_temp_cy[13]" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add1_sub_temp_cy[21]" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add1_sub_temp_cy[25]" COMP
        "RECONFIG_PART/v_c[31]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/Msub_Add1_sub_temp_cy[5]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/Msub_Add1_sub_temp_cy[9]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/Msub_Add1_sub_temp_cy[13]" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_0_16" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_0_20" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_0_24" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_0_28" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_0_31" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mcompar_Saturate_out1_cmp_lt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mcompar_Saturate_out1_cmp_lt0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_add_temp_add0000_Madd_cy[35]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_add_temp_add0000_Madd_cy[39]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_add_temp_add0000_Madd_cy[43]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Look_Up_Table_out1[15]"
        COMP "RECONFIG_PART/u_Park_Transform/Msub_Add2_sub_temp_Madd_cy[5]"
        COMP "RECONFIG_PART/u_Park_Transform/Msub_Add2_sub_temp_Madd_cy[9]"
        COMP "RECONFIG_PART/u_Park_Transform/Msub_Add2_sub_temp_Madd_cy[13]"
        COMP "RECONFIG_PART/u_Park_Transform/Msub_Add2_sub_temp_Madd_cy[17]"
        COMP "RECONFIG_PART/u_Park_Transform/Msub_Add2_sub_temp_Madd_cy[21]"
        COMP "RECONFIG_PART/u_Park_Transform/Msub_Add2_sub_temp_Madd_cy[25]"
        COMP "RECONFIG_PART/u_Park_Transform/Msub_Add2_sub_temp_Madd_cy[29]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Msub_Error_sub_temp_Madd_cy[4]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Msub_Error_sub_temp_Madd_cy[8]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Msub_Error_sub_temp_Madd_cy[12]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Msub_Error_sub_temp_Madd_cy[16]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Msub_Error_sub_temp_Madd_cy[20]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Msub_Error_sub_temp_Madd_cy[24]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Msub_Error_sub_temp_Madd_cy[28]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Error_sub_temp[31]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Msub_Error_sub_temp_Madd_cy[4]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Msub_Error_sub_temp_Madd_cy[8]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Msub_Error_sub_temp_Madd_cy[12]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Msub_Error_sub_temp_Madd_cy[16]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Msub_Error_sub_temp_Madd_cy[20]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Msub_Error_sub_temp_Madd_cy[24]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_Negate1_cast_1_Madd_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_Negate1_cast_1_Madd_cy[7]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_Negate1_cast_1_Madd_cy[11]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Negate1_cast_1[15]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mcompar_Not_Equal_relop1_cmp_ne0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mcompar_Not_Equal_relop1_cmp_ne0000_cy[7]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Not_Equal_relop1"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mcompar_Not_Equal_relop1_cmp_ne0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mcompar_Not_Equal_relop1_cmp_ne0000_cy[7]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Not_Equal_relop1"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_0_mult00000_Madd_cy[44]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Mcompar_Max_stage1_1_val_cmp_ge0000_cy[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add1_add_temp_Madd_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add1_add_temp_Madd_cy[15]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add1_add_temp_Madd_cy[19]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add1_add_temp_Madd_cy[23]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add1_add_temp_Madd_cy[27]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add1_add_temp_Madd_cy[31]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_lt0000_lut[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add1_add_temp_Madd_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add1_add_temp_Madd_cy[15]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add1_add_temp_Madd_cy[19]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add1_add_temp_Madd_cy[23]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add1_add_temp_Madd_cy[27]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add1_add_temp_Madd_cy[31]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/u_Saturate_Output/Mcompar_Saturation_Dynamic_out1_cmp_lt0000_lut[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_0_addsub0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_0_addsub0000_cy[7]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_0_addsub0000_cy[11]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_0_addsub0000_cy[15]"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/Madd_Add2_add_temp_cy[5]"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/Madd_Add2_add_temp_cy[9]"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/Madd_Add2_add_temp_cy[13]"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/Madd_Add2_add_temp_cy[17]"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/Madd_Add2_add_temp_cy[25]"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/Madd_Add2_add_temp_cy[29]"
        COMP "RECONFIG_PART/v_beta[15]" COMP
        "RECONFIG_PART/u_Park_Transform/Madd_Add1_add_temp_Madd_cy[6]" COMP
        "RECONFIG_PART/u_Park_Transform/Madd_Add1_add_temp_Madd_cy[10]" COMP
        "RECONFIG_PART/u_Park_Transform/Madd_Add1_add_temp_Madd_cy[14]" COMP
        "RECONFIG_PART/u_Park_Transform/Madd_Add1_add_temp_Madd_cy[18]" COMP
        "RECONFIG_PART/u_Park_Transform/Madd_Add1_add_temp_Madd_cy[22]" COMP
        "RECONFIG_PART/u_Park_Transform/Madd_Add1_add_temp_Madd_cy[26]" COMP
        "RECONFIG_PART/u_Park_Transform/Madd_Add1_add_temp_Madd_cy[30]" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_01_addsub0000_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_01_addsub0000_cy[7]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_01_addsub0000_cy[11]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Msub_mul_temp_01_addsub0000_cy[15]"
        COMP "RECONFIG_PART/Delay_7_out1[2]" COMP
        "RECONFIG_PART/Delay_7_out1[6]" COMP "RECONFIG_PART/Delay_7_out1[10]"
        COMP "RECONFIG_PART/Delay_7_out1[14]" COMP
        "RECONFIG_PART/Delay_7_out1[15]" COMP
        "RECONFIG_PART/u_Clarke_Transform/Madd_Add_add_temp_cy[6]" COMP
        "RECONFIG_PART/u_Clarke_Transform/Madd_Add_add_temp_cy[10]" COMP
        "RECONFIG_PART/u_Clarke_Transform/Madd_Add_add_temp_cy[14]" COMP
        "RECONFIG_PART/u_Clarke_Transform/Madd_Add_add_temp_cy[18]" COMP
        "RECONFIG_PART/u_Clarke_Transform/Madd_Add_add_temp_cy[22]" COMP
        "RECONFIG_PART/u_Clarke_Transform/Madd_Add_add_temp_cy[30]" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_div_temp_add0000_Madd_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_div_temp_add0000_Madd_cy[7]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[3]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[7]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[11]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[15]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[19]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[23]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[27]"
        COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Madd_Add_add_temp_cy[31]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Add_add_temp[32]" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p25mA_out1_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p25mA_out1_cy[7]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p25mA_out1_cy[11]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p25mA_out1_cy[15]"
        COMP "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/p25mA_out1[16]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add_add_temp_Madd_cy[7]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add_add_temp_Madd_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add_add_temp_Madd_cy[15]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add_add_temp_Madd_cy[19]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add_add_temp_Madd_cy[23]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add_add_temp_Madd_cy[27]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Madd_Add_add_temp_Madd_cy[31]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Add_add_temp[35]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add_add_temp_Madd_cy[7]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add_add_temp_Madd_cy[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add_add_temp_Madd_cy[15]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add_add_temp_Madd_cy[19]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add_add_temp_Madd_cy[23]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add_add_temp_Madd_cy[27]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Madd_Add_add_temp_Madd_cy[31]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Add_add_temp[35]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Madd_Add1_cast_1_cy[6]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Madd_Add1_cast_1_cy[10]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Madd_Add1_cast_1_cy[14]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Madd_Add1_cast_1_cy[18]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_div_temp_01_addsub0000_Madd_cy[26]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_div_temp_01_addsub0000_Madd_cy[30]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/div_temp_01_addsub0000[31]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p50mA_out1_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p50mA_out1_cy[7]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p50mA_out1_cy[11]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_p50mA_out1_cy[15]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_Negate_cast_1_Madd_cy[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_Negate_cast_1_Madd_cy[7]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_Negate_cast_1_Madd_cy[11]"
        COMP "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Negate_cast_1[15]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_add_temp1_add0000_Madd_cy[35]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_add_temp1_add0000_Madd_cy[39]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_add_temp1_add0000_Madd_cy[43]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Look_Up_Table_out1_1[15]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add_sub_temp_cy[19]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add_sub_temp_cy[23]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add_sub_temp_cy[27]"
        COMP "RECONFIG_PART/u_Inv_Clarke_Transform/Msub_Add_sub_temp_cy[31]"
        COMP "RECONFIG_PART/Delay_5_out1[2]" COMP
        "RECONFIG_PART/Delay_5_out1[6]" COMP "RECONFIG_PART/Delay_5_out1[10]"
        COMP "RECONFIG_PART/Delay_5_out1[14]" COMP
        "RECONFIG_PART/Delay_5_out1[15]" COMP
        "RECONFIG_PART/Current_Command[14]" COMP "RECONFIG_PART/ce_out_PROXY"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[15]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[13]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_91"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_111"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[3]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom00004"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_0_15" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom000011"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast1_rom00009"
        COMP "RECONFIG_PART/N19" COMP "RECONFIG_PART/i_b[0]" COMP
        "RECONFIG_PART/Electrical_Position[12]" COMP "RECONFIG_PART/i_b[7]"
        COMP "RECONFIG_PART/i_b[6]" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom000013"
        COMP "RECONFIG_PART/Electrical_Position[0]" COMP "RECONFIG_PART/N460"
        COMP "RECONFIG_PART/N184" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/f1_mux0000[31]" COMP
        "RECONFIG_PART/i_a[15]" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1_1[6]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1_1[5]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1_1[1]"
        COMP "RECONFIG_PART/N370" COMP "RECONFIG_PART/N322" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/f_mux0000[25]" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1[11]"
        COMP "RECONFIG_PART/Current_Command[5]" COMP
        "RECONFIG_PART/Current_Command[11]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_11"
        COMP "RECONFIG_PART/N411" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom00002"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_0_7" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_1_0" COMP
        "RECONFIG_PART/N412" COMP "RECONFIG_PART/N440" COMP
        "RECONFIG_PART/N434" COMP "RECONFIG_PART/Va(5)_PROXY" COMP
        "RECONFIG_PART/N420" COMP "RECONFIG_PART/i_b[13]" COMP
        "RECONFIG_PART/N333" COMP "RECONFIG_PART/Electrical_Position[5]" COMP
        "RECONFIG_PART/Electrical_Position[7]" COMP "RECONFIG_PART/N398" COMP
        "RECONFIG_PART/N183" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/N83" COMP
        "RECONFIG_PART/i_a[9]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_0_2" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/f1_or0000" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1_1[4]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1_1[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[23]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast_rom0000"
        COMP "RECONFIG_PART/N155" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1_1<15>122"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom0000"
        COMP "RECONFIG_PART/N246" COMP "RECONFIG_PART/N302" COMP
        "RECONFIG_PART/N365" COMP "RECONFIG_PART/Current_Command[13]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_61"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage1_1_val[9]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage1_1_val[8]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[4]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[8]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_71"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[18]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[20]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[27]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_112"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_7"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_131"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_121"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_3"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_5" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_15"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_0_3" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_1_4" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast1_rom00003"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast1_rom00004"
        COMP "RECONFIG_PART/N317" COMP "RECONFIG_PART/N20" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_1_10" COMP
        "RECONFIG_PART/N21" COMP "RECONFIG_PART/N422" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast1_rom000013"
        COMP "RECONFIG_PART/N466" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/f1_mux0000[27]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_0_15" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/f1_mux0000[25]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_151"
        COMP "RECONFIG_PART/N474" COMP "RECONFIG_PART/N220" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast_rom00001"
        COMP "RECONFIG_PART/N245" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1[5]"
        COMP "RECONFIG_PART/N401" COMP "RECONFIG_PART/N310" COMP
        "RECONFIG_PART/N299" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom0000343"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1[12]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[14]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[2]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[24]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage1_1_val[4]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[15]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[16]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage1_1_val[16]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[25]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[7]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[15]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[19]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[23]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[27]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/currentControlITerm[31]"
        COMP "RECONFIG_PART/v_q[15]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_2_3" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_2_15" COMP
        "RECONFIG_PART/v_d[6]" COMP "RECONFIG_PART/v_d[2]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_13" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_2_3" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_111" COMP
        "RECONFIG_PART/v_d[12]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_2_7" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_2_11" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_0_11" COMP
        "RECONFIG_PART/N348" COMP "RECONFIG_PART/N351" COMP
        "RECONFIG_PART/Va(12)_PROXY" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom00006109"
        COMP "RECONFIG_PART/N335" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom000012"
        COMP "RECONFIG_PART/N433" COMP "RECONFIG_PART/N399" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom000010"
        COMP "RECONFIG_PART/N209" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Madd_div_temp_01_add0000_Madd_cy[9]"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_0_14" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_0_6" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_0_10" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1[14]"
        COMP "RECONFIG_PART/N243" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast_rom000011"
        COMP "RECONFIG_PART/N198" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom00007"
        COMP "RECONFIG_PART/N263" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast_rom00005"
        COMP "RECONFIG_PART/N369" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom000012"
        COMP "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/f_mux0000[26]"
        COMP "RECONFIG_PART/N236" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom00001035"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[6]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_41"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[4]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage1_1_val[14]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[31]"
        COMP "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[28]"
        COMP "RECONFIG_PART/v_q[2]" COMP "RECONFIG_PART/v_q[8]" COMP
        "RECONFIG_PART/reset_inv_shift4" COMP "RECONFIG_PART/Vb[72]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_9" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/delayMatch_reg_3_01"
        COMP "RECONFIG_PART/Vb(29)_PROXY" COMP "RECONFIG_PART/Vb(22)_PROXY"
        COMP "RECONFIG_PART/Vb(31)_PROXY" COMP "RECONFIG_PART/Vb(56)_PROXY"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom00009"
        COMP "RECONFIG_PART/N448" COMP "RECONFIG_PART/Va[72]" COMP
        "RECONFIG_PART/Vc(15)_PROXY" COMP "RECONFIG_PART/Vc(44)_PROXY" COMP
        "RECONFIG_PART/Vc(58)_PROXY" COMP "RECONFIG_PART/Va(66)_PROXY" COMP
        "RECONFIG_PART/Va(28)_PROXY" COMP "RECONFIG_PART/Va(13)_PROXY" COMP
        "RECONFIG_PART/Va(54)_PROXY" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_1_15" COMP
        "RECONFIG_PART/N273" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[11]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[3]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[27]"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom00001079"
        COMP "RECONFIG_PART/N261" COMP "RECONFIG_PART/N260" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom00008"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom00004"
        COMP "RECONFIG_PART/N269" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_0_rom00003121"
        COMP "RECONFIG_PART/N293" COMP "RECONFIG_PART/N405" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[5]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage1_1_val[2]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Min_stage1_1_val[11]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[7]" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[30]" COMP
        "RECONFIG_PART/v_q[9]" COMP "RECONFIG_PART/v_q[14]" COMP
        "RECONFIG_PART/v_q[3]" COMP "RECONFIG_PART/v_q[10]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_2_7" COMP
        "RECONFIG_PART/Vb[69]" COMP "RECONFIG_PART/Vb[68]" COMP
        "RECONFIG_PART/v_d[3]" COMP "RECONFIG_PART/v_d[4]" COMP
        "RECONFIG_PART/v_d[13]" COMP "RECONFIG_PART/v_d[8]" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/HwModeRegister4_reg_0_3"
        COMP "RECONFIG_PART/Vb[66]" COMP "RECONFIG_PART/Vc[68]" COMP
        "RECONFIG_PART/v_d[15]" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/_n0003[3]" COMP
        "RECONFIG_PART/Vb(38)_PROXY" COMP "RECONFIG_PART/Vb(64)_PROXY" COMP
        "RECONFIG_PART/Va[69]" COMP "RECONFIG_PART/N350" COMP
        "RECONFIG_PART/N344" COMP "RECONFIG_PART/Vc(13)_PROXY" COMP
        "RECONFIG_PART/Va[66]" COMP "RECONFIG_PART/Vc(40)_PROXY" COMP
        "RECONFIG_PART/Vc(66)_PROXY" COMP "RECONFIG_PART/N464" COMP
        "RECONFIG_PART/Va(32)_PROXY" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_mul_temp_01_rom000014_mand1"
        COMP "RECONFIG_PART/Va(55)_PROXY" COMP "RECONFIG_PART/Va(50)_PROXY"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[15]"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[31]"
        COMP "RECONFIG_PART/N446" COMP "RECONFIG_PART/N254" COMP
        "RECONFIG_PART/N265" COMP "RECONFIG_PART/N214" COMP
        "RECONFIG_PART/N232" COMP "RECONFIG_PART/N291" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/f_mux0000[27]" COMP
        "RECONFIG_PART/N276" COMP "RECONFIG_PART/N237" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[29]" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_1_27" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_1_31" COMP
        "RECONFIG_PART/Vb[71]" COMP "RECONFIG_PART/Current_Command[0]" COMP
        "RECONFIG_PART/Vb(13)_PROXY" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_1_2_15" COMP
        "RECONFIG_PART/Vb(0)_PROXY" COMP "RECONFIG_PART/Vb(75)_PROXY" COMP
        "RECONFIG_PART/Vb(51)_PROXY" COMP "RECONFIG_PART/Vb(61)_PROXY" COMP
        "RECONFIG_PART/Vc(14)_PROXY" COMP "RECONFIG_PART/Vc(16)_PROXY" COMP
        "RECONFIG_PART/Vc(45)_PROXY" COMP "RECONFIG_PART/Vc(27)_PROXY" COMP
        "RECONFIG_PART/Vc(22)_PROXY" COMP "RECONFIG_PART/Va(21)_PROXY" COMP
        "RECONFIG_PART/Va(24)_PROXY" COMP "RECONFIG_PART/Va(39)_PROXY" COMP
        "RECONFIG_PART/Va(37)_PROXY" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mrom_add_cast1_rom00007"
        COMP "RECONFIG_PART/Va(71)_PROXY" COMP "RECONFIG_PART/Vc(76)_PROXY"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[7]"
        COMP "RECONFIG_PART/N101" COMP "RECONFIG_PART/N225" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_1_16" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/reduced_reg_1_20" COMP
        "RECONFIG_PART/u_Space_Vector_Modulation/Max_stage2_val[28]" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/reduced_reg_2_8" COMP
        "RECONFIG_PART/Vb[70]" COMP "RECONFIG_PART/N10" COMP
        "RECONFIG_PART/Vb[73]" COMP "RECONFIG_PART/Vc[70]" COMP
        "RECONFIG_PART/N111" COMP "RECONFIG_PART/Vc[69]" COMP
        "RECONFIG_PART/Vc[72]" COMP "RECONFIG_PART/Vc[67]" COMP
        "RECONFIG_PART/Vb(8)_PROXY" COMP "RECONFIG_PART/Vb(24)_PROXY" COMP
        "RECONFIG_PART/Vb(45)_PROXY" COMP "RECONFIG_PART/Vb(43)_PROXY" COMP
        "RECONFIG_PART/Vb(70)_PROXY" COMP "RECONFIG_PART/Vb(42)_PROXY" COMP
        "RECONFIG_PART/Vb(78)_PROXY" COMP "RECONFIG_PART/Vb(82)_PROXY" COMP
        "RECONFIG_PART/Vc(61)_PROXY" COMP "RECONFIG_PART/Vc(48)_PROXY" COMP
        "RECONFIG_PART/Vc(51)_PROXY" COMP "RECONFIG_PART/Vc(49)_PROXY" COMP
        "RECONFIG_PART/Va(68)_PROXY" COMP "RECONFIG_PART/Va(23)_PROXY" COMP
        "RECONFIG_PART/Va(30)_PROXY" COMP "RECONFIG_PART/Va(46)_PROXY" COMP
        "RECONFIG_PART/Vc(77)_PROXY" COMP "RECONFIG_PART/Vc(71)_PROXY" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/currentControlITerm[19]"
        COMP "RECONFIG_PART/N270" COMP "RECONFIG_PART/N33" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/QuadHandle2_out1[16]";
COMPGRP "pblock_RECONFIG_PART.SLICE" LOCATE = SITE "SLICE_X8Y0:SLICE_X15Y89"
        LEVEL 4;
COMPGRP pblock_RECONFIG_PART.DSP48 = COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_01_mult0000_submult_01"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_01_mult0000_submult_02"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_01_mult0000_submult_03"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_0_mult0000_submult_0"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_0_mult0000_submult_1"
        COMP "RECONFIG_PART/u_Clarke_Transform/Mmult_Beta_Gain_mul_temp" COMP
        "RECONFIG_PART/u_Inv_Clarke_Transform/Mmult_Gain1_mul_temp" COMP
        "RECONFIG_PART/u_Sine_Cosine/Mmult_Normalize_Position_mul_temp" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_01_mult0000_submult_0"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_01_mult0000_submult_1"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mmult_Product_mul_temp"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mmult_Product_mul_temp"
        COMP "RECONFIG_PART/u_Clarke_Transform/Mmult_Alpha_Gain_mul_temp" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mmult_Product2_out1"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mmult_Product1_mul_temp"
        COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_D_Current_Control/Mmult_Product1_mul_temp"
        COMP "RECONFIG_PART/u_Park_Transform/Mmult_Product1_out1" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/Mmult_Product1_out1" COMP
        "RECONFIG_PART/u_Park_Transform/Mmult_Produc3t_out1" COMP
        "RECONFIG_PART/u_Park_Transform/Mmult_Product2_out1" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/Mmult_Product2_out1" COMP
        "RECONFIG_PART/u_DQ_Current_Control/u_Q_Current_Control/Mmult_currentControlPTerm"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_0_mult0000_submult_01"
        COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_0_mult0000_submult_02"
        COMP "RECONFIG_PART/u_Inv_Park_Transform/Mmult_Product3_out1" COMP
        "RECONFIG_PART/u_Sine_Cosine/u_Sine_Cosine_LUT/Mmult_mul_temp_0_mult0000_submult_03"
        COMP "RECONFIG_PART/u_Park_Transform/Mmult_Product4_out1" COMP
        "RECONFIG_PART/u_Inv_Park_Transform/Mmult_Product4_out1";
COMPGRP "pblock_RECONFIG_PART.DSP48" LOCATE = SITE "DSP48_X0Y0:DSP48_X0Y35"
        LEVEL 4;
TIMEGRP ICAP_CLK_COMP_CLK2X_BUF = BEL "CLK_FIX/t_clk" BEL "CLK_FIX/cycles_11"
        BEL "CLK_FIX/cycles_0" BEL "CLK_FIX/cycles_1" BEL "CLK_FIX/cycles_2"
        BEL "CLK_FIX/cycles_3" BEL "CLK_FIX/cycles_4" BEL "CLK_FIX/cycles_5"
        BEL "CLK_FIX/cycles_6" BEL "CLK_FIX/cycles_7" BEL "CLK_FIX/cycles_8"
        BEL "CLK_FIX/cycles_9" BEL "CLK_FIX/cycles_10" BEL
        "ICAP_CLK_COMP/CLK2X_BUFG_INST";
TIMEGRP ICAP_CLK_COMP_CLK0_BUF = BEL "ICAP_CLK_COMP/CLK0_BUFG_INST" BEL
        "CONFIG_STATE/CS_FSM_FFd1" BEL "CONFIG_STATE/CS_FSM_FFd2" BEL
        "CONFIG_STATE/CS_FSM_FFd3" BEL "CONFIG_STATE/CS_FSM_FFd4" BEL
        "CONFIG_STATE/CS_FSM_FFd5" BEL "ICAP_CONTR/EEPROM_INT/temp_addr_0" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_1" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_2" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_3" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_4" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_5" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_6" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_7" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_8" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_9" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_10" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_11" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_12" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_13" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_14" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_15" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_16" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_17" BEL
        "ICAP_CONTR/EEPROM_INT/temp_addr_18" BEL
        "ICAP_CONTR/EEPROM_INT/CS_FSM_FFd1" BEL
        "ICAP_CONTR/EEPROM_INT/CS_FSM_FFd2" BEL
        "ICAP_CONTR/EEPROM_INT/CS_FSM_FFd3" BEL "ICAP_CONTR/busy" BEL
        "ICAP_CONTR/done" BEL "CURR_SENSE_B/REGIS/Q_0" BEL
        "CURR_SENSE_B/REGIS/Q_1" BEL "CURR_SENSE_B/REGIS/Q_2" BEL
        "CURR_SENSE_B/REGIS/Q_3" BEL "CURR_SENSE_B/REGIS/Q_4" BEL
        "CURR_SENSE_B/REGIS/Q_5" BEL "CURR_SENSE_B/REGIS/Q_6" BEL
        "CURR_SENSE_B/REGIS/Q_7" BEL "CURR_SENSE_B/REGIS/Q_12" BEL
        "CURR_SENSE_B/REGIS/Q_13" BEL "CURR_SENSE_B/REGIS/Q_14" BEL
        "CURR_SENSE_B/REGIS/Q_15" BEL "CURR_SENSE_B/REGIS/Q_8" BEL
        "CURR_SENSE_B/REGIS/Q_9" BEL "CURR_SENSE_B/REGIS/Q_10" BEL
        "CURR_SENSE_B/REGIS/Q_11" BEL "CURR_SENSE_B/convst_tmp" BEL
        "CURR_SENSE_B/Mshreg_convst_store_2" BEL "CURR_SENSE_B/convst_store_2"
        BEL "CURR_SENSE_A/REGIS/Q_0" BEL "CURR_SENSE_A/REGIS/Q_1" BEL
        "CURR_SENSE_A/REGIS/Q_2" BEL "CURR_SENSE_A/REGIS/Q_3" BEL
        "CURR_SENSE_A/REGIS/Q_8" BEL "CURR_SENSE_A/REGIS/Q_9" BEL
        "CURR_SENSE_A/REGIS/Q_10" BEL "CURR_SENSE_A/REGIS/Q_11" BEL
        "CURR_SENSE_A/REGIS/Q_12" BEL "CURR_SENSE_A/REGIS/Q_13" BEL
        "CURR_SENSE_A/REGIS/Q_14" BEL "CURR_SENSE_A/REGIS/Q_15" BEL
        "CURR_SENSE_A/REGIS/Q_4" BEL "CURR_SENSE_A/REGIS/Q_5" BEL
        "CURR_SENSE_A/REGIS/Q_6" BEL "CURR_SENSE_A/REGIS/Q_7" BEL
        "CURR_SENSE_A/convst_tmp" BEL "CURR_SENSE_A/Mshreg_convst_store_2" BEL
        "CURR_SENSE_A/convst_store_2" BEL "ELEC_POS/DECODER/D6/Q" BEL
        "ELEC_POS/DECODER/D5/Q" BEL "ELEC_POS/DECODER/D4/Q" BEL
        "ELEC_POS/DECODER/D3/Q" BEL "ELEC_POS/DECODER/D2/Q" BEL
        "ELEC_POS/DECODER/D1/Q";
PIN ICAP_CLK_COMP/DCM_ADV_INST_pins<10> = BEL "ICAP_CLK_COMP/DCM_ADV_INST"
        PINNAME CLKIN;
TIMEGRP clk_i = PIN "ICAP_CLK_COMP/DCM_ADV_INST_pins<10>";
TS_clk_i = PERIOD TIMEGRP "clk_i" 100 MHz HIGH 50% INPUT_JITTER 0.005 ns;
TS_ICAP_CLK_COMP_CLK2X_BUF = PERIOD TIMEGRP "ICAP_CLK_COMP_CLK2X_BUF" TS_clk_i
        HIGH 50% INPUT_JITTER 0.005 ns;
TS_ICAP_CLK_COMP_CLK0_BUF = PERIOD TIMEGRP "ICAP_CLK_COMP_CLK0_BUF" TS_clk_i /
        2 HIGH 50% INPUT_JITTER 0.005 ns;
SCHEMATIC END;

